.container{
	width:1000px !important;
	text-align: center;
	padding-left: 0px !important;
}
.headbar{
	width:1000px;
	text-align:center;
}
.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#tableData {
  width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
td{
	text-align:center;
}
.thfield{
	text-align:center;
}
.error{
	text-align:center;
	width:100%;
}
.title{
	margin-top:150px; 
	text-align:center;
}
#addbutton{
	padding: 0px 10px;
	height: 25px;    
	margin-bottom: 10px;
	float:right;
}
#order{
	width:150px;
	float:left;
}
#editbutton{
	padding: 0px 10px;
	height: 25px;
}
#deletebutton{
	padding: 0px 10px;
	height: 25px;
	background:#c13a3a;
}
#city_id{
	width:150px;
}
